.dash-background {
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 8px;
    width: 100%;
    height: 92%;
    overflow: auto;
}
.dash-background::-webkit-scrollbar {
    display: none;
}
.dash-topcard {
    background-color: white;
    height: 90px;
    width: 280px;
    margin: 0px 10px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dash-cheque {
    background-color: white;
    max-height: 358px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    overflow: scroll;
    font-size: 14px;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.dash-cheque::-webkit-scrollbar {
    display: none;
}
.dash-cheque .table th:nth-child(2) {
    width: 60%;
}

.dash-chart {
    background-color: white;
    flex: 0 0 55.33333%;
    max-width: 55.33333%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}
.dash-bill {
    background-color: white;
    height: 385px;
    width: 60%;
    margin: 0px 10px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}
.dash-stock {
    background-color: white;
    height: 385px;
    width: 46%;
    margin: 0px 10px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}
.dash-bill .table th:nth-child(2) {
    width: 50%;
}

.dash-stock .table th:nth-child(1) {
    width: 50%;
}
#chequetable tbody tr{
    cursor: pointer;
}


